.articles article:after {
	content: "";
	display: table;
	clear: both;
}

.articles {
	width: 100%;
}

@media screen and (max-width: 1330px) {
	.articles {
		width: 100%;
	}
}

.articles article {
	position: relative;
}

.articles article #aspect-ratio-container-parent,
.articles article>iframe {
	width: 30%;
}

.articles article #aspect-ratio-container {
	width: 100%;
}

@media screen and (max-width: 775px) {
	.articles article div,
	.articles article>iframe {
		width: 100%;
	}
}

@media screen and (min-width: 776px) {
	.articles article .video_container {
		position: relative;
		width: 30%;
		height: 0;
		padding: 16.875% 0 0 0;
	}
}

@media screen and (min-width: 776px) {
	.articles article:nth-of-type(even) div,
	.articles article:nth-of-type(even) img,
	.articles article:nth-of-type(even)>iframe,
	.articles article:nth-of-type(even) .video_container {
		float: left;
		margin-right: 15px;
	}
	.articles article:nth-of-type(even) .date {
		left: calc(30% + 5px);
	}
	.articles article:nth-of-type(odd) div,
	.articles article:nth-of-type(odd) img,
	.articles article:nth-of-type(odd)>iframe,
	.articles article:nth-of-type(odd) .video_container {
		float: right;
		margin-left: 15px;
	}
}