
.sr-only { position: absolute; width: 1px; height: 1px; padding: 0; overflow: hidden; clip: rect(0, 0, 0, 0); word-wrap: normal; border: 0; }

.container { width: 980px; margin-right: auto; margin-left: auto; }
.container::before { display: table; content: ""; }
.container::after { display: table; clear: both; content: ""; }

.container-md { max-width: 768px; margin-right: auto; margin-left: auto; }
.container-md::before { display: table; content: ""; }
.container-md::after { display: table; clear: both; content: ""; }

.container-lg { max-width: 1012px; margin-right: auto; margin-left: auto; }
.container-lg::before { display: table; content: ""; }
.container-lg::after { display: table; clear: both; content: ""; }

.container-xl { max-width: 1280px; margin-right: auto; margin-left: auto; }
.container-xl::before { display: table; content: ""; }
.container-xl::after { display: table; clear: both; content: ""; }
