---
---

@import "tailwindcss/base";
@import "tailwindcss/components";
@import "tailwindcss/utilities";
@import "styles.css";
@import "fonts.css";

.spoiler {
  background-color: #333;
  color: #333;
  padding: 2px 4px;
  border-radius: 3px;
  cursor: pointer;
  transition: all 0.3s ease;
  user-select: none;
}

.spoiler:hover {
  background-color: #555;
}

.spoiler.revealed {
  background-color: transparent;
  color: inherit;
  cursor: default;
}