<!--used to be an svg.  Could replace-->

<svg xmlns:dc="http://purl.org/dc/elements/1.1/" xmlns:cc="http://creativecommons.org/ns#" xmlns:rdf="http://www.w3.org/1999/02/22-rdf-syntax-ns#" xmlns:svg="http://www.w3.org/2000/svg" xmlns="http://www.w3.org/2000/svg" version="1.1" viewBox="0 0 127.27984 28.97019" class="ts_full">
  <g transform="translate(-292.0152,-375.88218)">
    <text x="316.02356" y="396.5386"  class="twister" xml:space="preserve">
        <tspan x="292.00629" y="396.5386">Jim Hays</tspan>
    </text>
    <text x="292.00629" y="403.45459" class="slogan" xml:space="preserve">
        <tspan x="292.00629" y="403.45459" id="tspan3790">cycles are beautiful</tspan>
    </text>
  </g>
</svg>
