<!--used to be an svg.  Could replace-->

<svg xmlns:dc="http://purl.org/dc/elements/1.1/" xmlns:cc="http://creativecommons.org/ns#" xmlns:rdf="http://www.w3.org/1999/02/22-rdf-syntax-ns#" xmlns:svg="http://www.w3.org/2000/svg" xmlns="http://www.w3.org/2000/svg" version="1.1" viewBox="0 0 22.32658 22.32658" class="ts_icon">
  <g
     transform="translate(-292.0152,-382.52579)"
     id="g4138">
    <text
       x="316.02356"
       y="392.85721"
       class="twister"
       xml:space="preserve"
       id="text4140"><tspan
         x="292.00629"
         y="392.85721"
         id="tspan4142">Jim</tspan></text>
    <text
       x="310.79211"
       y="403.12637"
       class="twister"
       xml:space="preserve"
       id="text4153"><tspan
         x="286.77484"
         y="403.12637"
         id="tspan4155"> Hays</tspan></text>
  </g>
</svg>
