<svg xmlns:dc="http://purl.org/dc/elements/1.1/" xmlns:cc="http://creativecommons.org/ns#" xmlns:rdf="http://www.w3.org/1999/02/22-rdf-syntax-ns#" xmlns:svg="http://www.w3.org/2000/svg" xmlns="http://www.w3.org/2000/svg" version="1.1" viewBox="0 0 227.27984 22.32658" class="ts_no_slogan">
  <g transform="translate(-292.0152,-375.88218)">
    <text x="316.02356" y="396.5386"  class="twister" xml:space="preserve">
        <tspan x="292.00629" y="396.5386">1000 Possible Worlds</tspan>
    </text>
  </g>
</svg>
