<div class="sidebar">
    <!-- Hide Categories
    <div class="widget">
        <h3 class="title">Categories</h3>
            <ul class="category_list">
            {% assign category_list = site.categories %}
            {% if category_list.first[0] == null %}
                {% for category in category_list %}
                    <li><a href="{{ site.category_dir | relative_url }}/{{ category }}">{{ category }}</a></li>
                {% endfor %}
            {% else %}
                {% for category in category_list %}
                    <li><a href="{{ site.category_dir | relative_url }}/{{ category[0] }}">{{ category[0] }}</a></li>
                {% endfor %}
            {% endif %}
            {% assign category_list = nil %}
        </ul>
    </div>
    -->
    <div class="widget">
        <h3 class="title">Tags</h3>
        <ul class="tags">
            {% assign tags = '' %}
            {% for tag in site.tags %}
                {% assign tags = tags | append: tag[0] | append: ',' %}
            {% endfor %}

            {% assign sorted_tags = tags | split: ',' | sort_natural %}

            {% for tag in sorted_tags %}
                <a href="{{ site.tag_dir | relative_url }}/{{ tag | replace: ' ', '-' }}">{{ tag }}</a>
            {% endfor %}
        </ul>
    </div>
<!--

    <div class="widget">
        <h3 class="title">Authors</h3>
        <ul class="author_list">
            {% for author in site.data.authors %}
            <li>
                <a href="{{ site.author_dir | relative_url }}/{{ author.id }}">
                    {% if author.name %}
                    {{ author.name }}
                    {% else %}
                    {{ author.id }}
                    {% endif %}
                </a>
            </li>
            {% endfor %}
        </ul>
    </div>
Comment out until if/when there are multiple authors-->
</div>
