<ul class="archive list-none p-0">
  {% for post in site.posts %}
    {% unless post.next %}
        <h2>{{ post.date | date: '%Y' }}</h2>
    {% else %}
        {% capture year %}{{ post.date | date: '%Y' }}{% endcapture %}
        {% capture next_post_year %}{{ post.next.date | date: '%Y' }}{% endcapture %}
        {% if year != next_post_year %}
            <h2>{{ post.date | date: '%Y' }}</h2>
        {% endif %}
    {% endunless %}
    <li class="flex flex-row"><span class="date inline-block w-14 shrink-0 text-right">{{ post.date | date:"%d %b" }}</span> <a href="{{ post.url | relative_url}}" class="pl-1">{{ post.title }}</a></li>
  {% endfor %}
</ul>
