<!DOCTYPE html>
<html>
    <head>
        {% include head.html %}
    </head>

    <body class="index">
        <header class="head">
            {% include header.html %}
            {% include nav.html %}
        </header>
        {% include search.html %}
        <section class="margin">
            <div class="content">
                <p class="switch hidden sm:block w-full text-xs mb-2">
                    switch layout:
                    <span id="grid" class="cursor-pointer text-[#505879] hover:text-[#AEB9A0]">
                        Grid
                    </span>
                    &bull;
                    <span id="classic" class="cursor-pointer text-[#505879] hover:text-[#AEB9A0]">
                        Classic
                    </span>
                </p>
                {% if page.title %}<h1 class="title">{{ page.title }}</h1>{% endif %}
                <div class="articles">
                    {{ content }}
                </div>
                {% include sidebar.html %}
            </div>
        </section>
        {% include footer.html %}
        <script src="{{ site.baseurl | replace: '//', '/' }}/js/build/global.min.js"></script>
    </body>
</html>
